{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">

                    <div class="bg-faded rounded p-5">
                        {% if parameters['length'] != 0 %}
                            <h2 class="section-heading d-none d-sm-none d-md-block">
                                <span class="section-heading-upper">{{ user_parameters['login'] }}</span>
                                <span class="section-heading-lower">Twoje pliki</span>
                            </h2>
                            <h2 class="section-heading d-block d-sm-block d-md-none">
                                <span class="section-heading-upper">Twoje pliki</span>
                            </h2>
                            <div class="table-responsive">
                            <table class="table d-none d-sm-none d-md-block d-lg-block mx-auto">
                                <thead>
                                <tr>
                                    <th scope="col" class="col-sm-4">Plik</th>
                                    <th scope="col" class="col-sm-4">Pobierz</th>
                                    <th scope="col" class="col-sm-4">Udostępnij</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in range(parameters['length']) %}
                                    <tr>
                                        <td>{{ parameters['files'][i] }}</td>
                                        <td><a href="{{ parameters['download_links'][i] }}">Download</a></td>
                                        <td>
                                            {% if parameters['show_links'][i] != '' %}
                                                <a href="{{ parameters['share_links'][i] }}">Unshare</a>|
                                                <a href="{{ parameters['show_links'][i] }}">Link</a>
                                            {% else %}
                                                <a href="{{ parameters['share_links'][i] }}">Share</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto d-block d-sm-block d-md-none">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Plik
                                    <span class="ml-auto">Udostępnij</span>
                                </li>
                                <hr>
                                {% for i in range(parameters['length']) %}
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        <a href="{{ parameters['download_links'][i] }}">{{ parameters['files'][i] }}</a>
                                        <span class="ml-auto">
                                        {% if parameters['show_links'][i] != '' %}
                                            <a href="{{ parameters['share_links'][i] }}">Unshare</a>|
                                            <a href="{{ parameters['show_links'][i] }}">Link</a>
                                        {% else %}
                                            <a href="{{ parameters['share_links'][i] }}">Share</a>
                                        {% endif %}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Tu pojawią się Twoje pliki
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{{ parameters['long_polling_js'] }}"></script>
{% endblock %}







