<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{{ login }} Dashboard</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="230"/>
    <link rel="Stylesheet" type="text/css" href="https://edi.iem.pw.edu.pl/~milewsp1/static/css/main.css">
    <link rel="Stylesheet" type="text/css" href="https://edi.iem.pw.edu.pl/~milewsp1/static/css/menu.css">
</head>
<body>
<aside>
    <div class="logout">
        <ul id="menu">
            <li class="menu_li_user">{{ parameters['login'] }}</li>
            <li class="menu_li"><a href={{ parameters['logout_endpoint'] }}>Wyloguj</a></li>
        </ul>
    </div>
</aside>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <article class="communication_container">
            <div class="form_elem" id="communicate">
                {% if not messages[1] %}
                    <div id="login_validation" class="validation_server">Ups... Coś poszło nie tak</div>
                {% elif not messages[2] %}
                    <div id="login_validation" class="validation_server{{ messages[1] }}"></div>
                {% endif %}
                <div id="login_validation" class="validation_server{{ messages[1] }}">{{ messages[0] }}</div>
                {% if messages[2] %}
                    <form>
                        <input type="text" value="{{ messages[2] }}" id="share_link" readonly>
                    </form>
                {% endif %}
            </div>
        </article>
    {% endif %}
{% endwith %}
{% if parameters['length'] != 0 %}
    <article class="file_list_container">
        <h2>Twoje pliki:</h2>
        <div class="form_elem" id="{{ parameters['file_name'] }}">
            {% for i in range(parameters['length']) %}
                <div class="left">{{ parameters['files'][i] }}</div>
                {% if parameters['show_links'][i] != '' %}
                    <div class="right"><a href="{{ parameters['download_links'][i] }}">Download</a> <a
                            href="{{ parameters['share_links'][i] }}">Unshare</a>
                        <a href="{{ parameters['show_links'][i] }}">Show link</a></div>
                {% else %}
                    <div class="right"><a href="{{ parameters['download_links'][i] }}">Download</a> <a
                            href="{{ parameters['share_links'][i] }}">Share</a>
                    </div>
                {% endif %}
                <div class="clear"></div>
            {% endfor %}
        </div>
    </article>
{% endif %}
{% if parameters['disable_upload'] == 0 %}
    <article class="main_elem">
        <h2>Dodaj plik:</h2>
        <form id="uploadForm" method="POST" action="https://edi.iem.pw.edu.pl/milewsp1/app/upload"
              enctype="multipart/form-data">
            <div class="form_elem" id="login">
                <input type="file" name="file">
                <input type="hidden" name="authorization" value="{{ parameters['token'] }}">
            </div>
            <div class="form_elem_button">
                <input type="submit" name="send" value="Wyślij" id="login_button">
            </div>
        </form>
    </article>
{% endif %}

<footer class="footer">
    Patryk Milewski &#xA9; 2018
</footer>
<script type="text/javascript" src="https://edi.iem.pw.edu.pl/~milewsp1/static/js/longpolling.js"></script>
</body>
</html>