<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %} - WinterClassesProject</title>
        <link href="{{ layout_parameters['bootstrap_css'] }}" rel="stylesheet">
       <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> -->
        <link href="{{ layout_parameters['my_css'] }}" rel="stylesheet">
        <meta http-equiv="refresh" content="230"/>
    {% endblock %}
</head>
<body>
<div class="header">
    <h1 class="text-center text-white d-none d-lg-block ">
        <span class="site-heading-lower">Winter Classes App</span>
    </h1>
</div>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-none d-md-block d-lg-none"
           href="{{ layout_parameters['dashboard_endpoint'] }}">Winter Classes App</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                {% if user_parameters['logged_in'] == 1 %}
                    <li class="nav-item {% if parameters['current_site'] == 'dashboard' %}active{% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                           href="{{ layout_parameters['dashboard_endpoint'] }}">Twoje Pliki
                            {% if parameters['current_site'] == 'dashboard' %}
                                <span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if parameters['current_site'] == 'upload' %}active{% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                           href="{{ layout_parameters['upload_endpoint'] }}">Upload
                            {% if parameters['current_site'] == 'upload' %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if parameters['current_site'] == 'authorization' %}active{% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                           href="{{ layout_parameters['authorization_endpoint'] }}">Wyloguj
                            {% if parameters['current_site'] == 'authorization' %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item {% if parameters['current_site'] == 'authorization' %}active{% endif %} px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                           href="{{ layout_parameters['authorization_endpoint'] }}">Zaloguj
                            {% if parameters['current_site'] == 'authorization' %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            {% if not messages[1] %}
                                <div class="message{{ messages[1] }}">Ups... Coś poszło nie tak</div>
                            {% elif not messages[2] %}
                                <div class="message{{ messages[1] }}"></div>
                            {% endif %}
                            <div class="message{{ messages[1] }}">{{ messages[0] }}</div> <!--todo-->
                            {% if messages[2] %}
                                <form>
                                    <input class="link_container" type="text" value="{{ messages[2] }}" readonly>
                                </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}

<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 big d-none d-sm-none d-md-none d-lg-block">Copyright &copy; Patryk Milewski 2018</p>
        <p class="m-0 small d-block d-sm-block d-md-block d-lg-none">Copyright &copy; Patryk Milewski 2018</p>
    </div>
</footer>

<script src="{{ layout_parameters['jquery_path'] }}"></script>
<script src="{{ layout_parameters['bundle_path'] }}"></script>

</body>

</html>