<!DOCTYPE html>
<html lang="pl">
<head>
    <title>PI Project</title>
    <meta charset="UTF-8"/>
    <link rel="Stylesheet" type="text/css" href="https://edi.iem.pw.edu.pl/~milewsp1/static/css/main.css">
</head>
<body>
<header><h1>Formularz logowania</h1></header>
<article class="main_elem">
    <form id="loginForm" action="{{ parameters['login_auth_endpoint'] }}" method="GET">
        <div class="form_elem_button">
            <input type="submit" name="send" value="Zaloguj z wykorzystaniem auth0" id="login_button">
        </div>

    </form>
</article>
<footer class="footer">
    <div>Patryk Milewski &#xA9; 2018</div>
</footer>
</body>
</html>