body {
    /* Background pattern from subtlepatterns.com */
    background: url("/~milewsp1/static/img/main.png") repeat;
    font-family: Arial;
    color: white;
    margin: 0;
}

.main_elem {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    width: 580px;
    border: gold 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background-color: #333;
}
.file_list_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    width: 580px;
    border: gold 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background-color: #333;
    height: 170px;
}
.communication_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    width: 580px;
    border: gold 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background-color: #333;
    height: 50px;
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu {
    list-style: none;
    color: gold;
}

a:hover {
    color: gold;

}

a:visited {
    color: gold;
}

.footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

.form_elem {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    height: 60px;
}

.form_elem_button {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    height: 40px;
}

.left {
    width: 260px;
    float: left;
    text-align: left;
}

.right {
    width: 260px;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

.data_field {
    width: 250px;
    height: 17px;
}

.data_field_photo {
    width: 250px;
    height: 30px;
}

.validation {
    color: red;
    text-align: left;
    font-size: 80%;
}

.validation_server {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%;
}

.validation_server_ok {
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%;
}

#login_button {
    margin-top: 10px;
    width: 100%;
    height: 80%;
}

#share_link {
    width: 90%;
}
